.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    flex-direction: column;
    align-items: center;
    padding: 92px 110px 96px 50px;
    width: 1100px;
    height: 293px;
}

.header__menu { 
    display: flex;
    width: 391px;
}
.header__links-list {
    display: flex;
    flex-direction: row;   
    list-style: circle;
    column-gap: 33px;
}
.header__links-list-item_active {
    text-decoration: none;
    list-style: none;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__links-list-item {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    padding-bottom: 2px;
}
.header__logo {
    display: block;
    width: 136px;
    height: 104px;
    top: 92px;
    left: 478px;
    padding-left: 42px;
}
.header__logo-image {
    width: 137px;
    height: 107px;
}
.header__address {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-self: end;
    width: 290px;
    height: 98px;
    margin-left: 175px;    
}
.header__address-item {
    display: flex;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    margin-left: 60px;
}
.cover {
    background-image: url(../images/cover.jpg);
    display: grid;
    position: relative;
    z-index: -1;
    background-size: cover;
    background-position: center;
    width: 1100px;
    height: 757px;
    margin-bottom: 180px;
}
.overlay {
    position: absolute;
    z-index: 0;
    background-color: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;   
}
    
.description {
    display: grid;
}
.cover__title {
    color: #FFFFFF;
    word-spacing: 20px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr;
}
.aligned-text {
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: left;
    text-decoration-skip-ink: none;
    padding-left: 50px;
    padding-top: 165px;
}
.aligned-text_center {
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: center;
    text-decoration-skip-ink: none;
    padding-left: 30px;
    padding-top: 20px;
}
.aligned-text_right {
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: right;
    text-decoration-skip-ink: none;
    padding-top: 20px;
    padding-right: 20px;
}
.cover__description {
    position: absolute;
    display: grid;
    grid-template-columns: 2fr  1fr;
    justify-content: space-between;
    padding-top: 105px;
    padding-left: 5px;    
}
.cover__description-text {
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    word-spacing: 19px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-decoration-skip-ink: none;
    margin-left: 45px;
    margin-top: 13px;
}
.bet-button {
    font-family: Raleway, sans-serif;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    font-size: 22px;
    width: 256px;
    height: 51px;
    top: 656px;
    left: 794px;
    margin-left: 92px;
}
.lots__heading {
    padding-left: 65px;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
}
.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 24px;
    padding-top: 27px;    
}
.lots__card-list-item {
    display: flex;
    flex-wrap: wrap;
    width: 334px;
    min-height: 596px;
    margin-bottom: 27px;         
}
.card-link {
    height: 100%;
    text-decoration: none;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;        
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.card__title {
    position: relative;
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    padding-left: 40px;
    padding-top: 48px;
    padding-right: 40px;
}
.card__text {
    position: relative;
    font-family: Raleway, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 40px;
}
.lots__look-more-link {
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    margin-top: 4px;
    margin-left: 64px;
}
.about {
    display: grid;
    grid-template-columns: 334px  1fr;
    margin-top: 153px;
    padding-left: 24px;
    padding-right: 24px;
}    
.about__logo {
    display: flex;
    margin: auto;
    width: 240px; 
    height: 240px; 
    border-radius: 50%;
    background-color: black;   
}
.about__logo-image {
    display: flex;
    margin: auto;
    width: 148px; 
    height: 148px;   
}
.about__title {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-decoration-skip-ink: none;
    padding-top: 101px;
    padding-left: 25px;
}
.description-block {
    width: 700px;
    height: 312px;
    top: 150px;
    padding-top: 99px;
    padding-left: 25px;
    margin-bottom: 180px;
}
.about__text__paragraph {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
    margin-bottom: 25px;  
}
.about__text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration-skip-ink: none;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 92px 50px 96px 50px;
}
.footer__address {
    padding-top: 9px;
}
.footer__address-item {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    list-style: none;
}
.footer__menu {
    display: flex;
}
.footer__menu-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-left: 93px;
}
.footer__menu-list-item {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}
.footer__menu-link_active {
    text-decoration: none;
}
.footer__social-list {
    display: flex;
    list-style: none;
    max-width: 240px;
    padding-left: 93px;
    padding-top: 10px;
    gap: 48px;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
    border: 1px 0px 0px 0px;
}



